.profile-sightings-container {
    display: flex;
  }
  
  .image-grid-container {
    flex: 1;
    transition: flex 0.3s ease; /* Transition the flex property */
  }
  
  .sighting-details-container {
    flex: 1;
    height: 100%;
  }