.profile-sightings-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-grid-container {
    min-width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: flex 0.3s ease; /* Transition the flex property */
  }
  
  .sighting-details-container {
    flex: 1;
    height: 100%;
  }