.image-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;

  }
  
  .image-details img {
    max-width: 80%;
    height: auto;
  }
  
  .image-details p {
    margin: 0;
  }

  .new-comment-container{
    display: flex;
    flex-direction: row;
  }

  .new-comment-avatar{
    display: inherit;
    align-items: center;
  }

  .comment-box-container{
    display: flex;
    width: 100%;
    height: 3.5em;
  }